$orange: #ff9000;
$body-text: #5a6169;
$heading-text: #212529;
$link-color: #0067F4;
$blue:#124386;

$blue1:lighten($blue, 0%);
$blue2:lighten($blue, 5%);
$blue3:lighten($blue, 10%);
$blue4:lighten($blue, 15%);
$blue5:lighten($blue, 20%);