@import "~bootstrap/scss/bootstrap";
@import "./_colors.scss";
@import "./_text.scss";

body {
  color: $body-text;
  background: #eee;
}

span.badge {
  font-size: 100%;
  &.badge-secondary {
    background: #aaa;
  }
}


